
body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 700 !important;
}

p {
  font-weight: 400 !important;
}

small {
  font-weight: 300 !important;
}

:root {
  --cor-primaria: #503296;
  --cor-secundaria: #c83296;
  --cor-terciaria: #fa3296;
  --texto-cinza: #646464;
  --texto-secundario: #2a2a2aab;
}

@keyframes scrollLoopMobile {
  0% {
    transform: translateY(0);
  }
  50%, 60% {
    transform: translateY(-358px);
  }
  90%, 100% {
    transform: translateY(0);
  }
}

@keyframes scrollLoopDesktop {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-600px);
  }
  50% {
    transform: translateY(-1070px);
  }
  55% {
    transform: translateY(-1070px);
  }
  60% {
    transform: translateY(-1070px);
  }
  90% {
    transform: translateY(0);
  }    
  100% {
    transform: translateY(0);
  }
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: hidden!important;
  border-width: 0;
}

.clr-icons {
  color: #c83296!important;
}

.bg-section-cinza {
  background: #e6e6e634;
}

.bg-section-cinza-2 {
  background: #a7a7a73a;
}

.bg-section-wt {
  background: #ffffff;
}

.py-6 {
  padding: 6rem 0;
}

.txt-rast {
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 300;
  position: relative;
  top: -8px;
}

.h3--- {
  margin: 0!important;
}

.clr-green-icn {
  color: green;
}

.clr-red-icn {
  color: red;
}

.bg-footer-agld {
  background: #ffffff;
  border-top: 1px solid #c3c3c36e;
}

.btn-section-primary { 
  text-transform: uppercase!important;
}

.h5-agl-plans-tt {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin: 0 0 -20px 0;
}

.sub-tt-plans {
  display: flex;
  justify-content: center;
  margin: -20px 0 20px 0;
  color: #000000;
  font-weight: 700;
}

.des-plans {
  font-weight: 300!important;
  font-size: 15px;
  margin: 10px 0;
  text-align: center;
  font-weight: 800!important;
  color: #317b99;
}

.font-sz-itns-pls {
  font-size: 14px;
}

.p-tp-dw {
  padding: 0 0 2rem 0;
}

.price-main {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 900!important;
  color: #c83296!important;
  align-items: center;
}

.price-main span {
  font-size: 30px;
  font-weight: 700!important;
}

.sub-tt-plans-expl {
  display: flex;
  margin: -20px auto 20px auto;
  font-size: 13px;
  color: #4b4b4be0;
  font-weight: 300;
  max-width: 300px;
  width: 80%;
  text-align: center;
}

.mg-left-gd {
  margin-left: 20px;
  color: #7b9b0e!important;
}

.btn-pay {
  background-color: #7b9b0e!important;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.btn-section-orc {
  background-color: #7b9b0e;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 15px 25px;
  font-weight: 600;
  width: 100%;
  max-width: 375px;
}

.btn-section-orc:hover {
  background-color: #6b831c;
  box-shadow: 0px 6px 18px 7px #aedf10de;
  border: solid 1px #c4ff097d;
}

.btn-pay:hover {
  background-color: #627428!important;
}

.forms-pay {
  margin: 10px 0;
  text-align: center;
  font-weight: 800!important;
  color: #317b99;
}

.text-contions {
  font-size: 12px;
  text-align: center;
  margin: -10px 0 0 0;
}

.cens-temp {
  background: #000;
  position: relative;
  z-index: 9;
}

.zindex-temp {
  position: relative;
  z-index: 1;
}

.area-pay {
  display: flex;
  position: absolute;
  bottom: 25px;
  flex-direction: column;
  width: 100%;
}

.card-body-pers {
  display: flex;
  position: relative;
  height: 900px;
  flex-direction: column;
  align-items: center;
}

.tx-ftr {
  font-size: 12px;
  font-weight: 200!important;
  margin: 15px 0;
}

.img-cards-vnd {
  margin: 2rem 0 0;
}

.col-texts h2 {
  color: #1b1b1b;
}

.btn-sctn-spfy {
  background: #4c8125!important;
}

.btn-sctn-spfy:hover {
  background: #4f7037!important;
}

#header {
  background: #000;
}

/* 🟡 Telas muito pequenas (até 480px) */
@media (max-width: 480px) {
  .sctn-prm-spfy {
    background-color: #f6f6f7;
    position: relative;
    display: flex;
    align-items: center;
    height: 620px;
    padding: 0 1rem;
  }
  
  .img-oft-spfy {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 420px;
  }

  .sctn-prm-spfy h2 {
    margin: 10rem 0 0.5rem!important;
  }

  .sctn-prm-spfy ul li {
    font-size: 14px;
  }

  .card-body-pers {
    height: 900px;
  }
  .area-pay {
    width: 85%;
}
  .pd-ps-card {
    padding: 1rem 0.8rem!important;
}
  .scroll-animation-wrapper-mbl  {
    position: absolute;
    width: 100%;
    height: 130px;
    overflow: hidden;
    right: 19.23%;
    max-width: 560px;
    top: 34.4%;
    z-index: 1;
  }

  #mkp-mobile-scrool {
    z-index: 9;
    position: absolute;
    max-width: 166px;
    width: 100%;
    right: 4%;
    top: 3.3%;
  }

  #mkp-desktop-scrool {
    display: none;
  }
  
  .scroll-animation-wrapper-desk {
    display: none;
  }
  .scroll-animation {
    animation: scrollLoopMobile 18s ease-in-out infinite;
  }
  .shadow-bg {
      box-shadow: 1px 0 12px 4px #d0c2ef40;
  }


  .nav-prsn {
      gap: 20px;
      font-weight: 600;
  }

  .nav-prsn-item {
      color: #ffffff;
  }

  .nav-prsn-item:hover {
      color: #ffbc00;
  } 
  .logo-pstion {
      width: 100%;
      max-width: 220px;
  }

  .logo-oficial {
      width: 85% !important;
  }

  .wdt-prs-01 {
      width: 100% !important;
      display: flex;
      flex-direction: column;
  }

  #mkp-desktop {
    display: none;
  }

  #mkp-mobile {
    display: block;
    position: relative;
    z-index: 9;
  }

  .stcn-prs-one {
      flex-wrap: nowrap !important;
      padding: 1rem 1.2rem;
  }

  .tt-sctn-one {
    font-size: 1.6rem !important;
    text-align: left;
  }

  .tex-down-btn {
      color: var(--texto-secundario);
      font-weight: 600 !important;
      font-size: 13px !important;
      margin: 6px 0 0 0 !important;
    }

  .tt-sctn-one span {
    font-size: 1.5rem !important;
    color: #513396;
  }

  .btn-section-primary {
      background-color: var(--cor-primaria);
      color: #fff;
      border: none;
      font-size: 15px;
      padding: 15px 25px;
      font-weight: 600;
      width: 100%;
    }
    
    .btn-section-primary:hover {
      background-color: var(--cor-secundaria);
      color: #fff !important;
    }

  .lead {
      font-size: 15px !important;
      color: var(--texto-cinza);
      width: 100%;
      max-width: 400px;
      text-align: left;
  }
}

/* 🔵 Celulares (481px a 768px) */
@media (min-width: 481px) and (max-width: 768px) {

  .sctn-prm-spfy {
    background-color: #f6f6f7;
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
  }
  
  
  .img-oft-spfy {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 750px;
    height: 100%;
  }

  .area-pay {
    display: flex;
    position: absolute;
    bottom: 25px;
    flex-direction: column;
    width: 100%;
  }
  .area-pay {
    width: 85%;
}
  .pd-ps-card {
    padding: 1rem 0.8rem!important;
}
  .span-tt-dwn {
    color: #513396;
    font-size: 20px;
  }

  #mkp-desktop-scrool {
      display: none;
    }
    
    .scroll-animation-wrapper-desk {
      display: none;
    }

  .shadow-bg {
      box-shadow: 1px 0 12px 4px #d0c2ef40;
  }



  .nav-prsn {
      gap: 20px;
      font-weight: 600;
  }

  .nav-prsn-item {
      color: #ffffff;
  }

  .nav-prsn-item:hover {
      color: #ffbc00;
  } 
  .logo-pstion {
      width: 100%;
      max-width: 320px;
  }

  .logo-oficial {
      width: 60% !important;
  }

  .wdt-prs-01 {
      width: 100% !important;
      display: flex;
      flex-direction: column;
  }

  #mkp-desktop {
      display: none;
    }

    #mkp-mobile {
        display: block;
    }

  .stcn-prs-one {
    flex-wrap: wrap !important;
    padding: 1rem 1.2rem;
  }

  .wdt-prs-01,
  .wdt-prs-02 {
    width: 100% !important;
  }

  .tt-sctn-one {
    font-size: 1.6rem !important;
    text-align: left;
  }

  .tt-sctn-one span {
    font-size: 2.4rem !important;
  }

  .lead {
      font-size: 16px !important;
      color: var(--texto-cinza);
      width: 100%;
      max-width: 600px;
      text-align: left;
  }

  .btn-section-primary {
      background-color: var(--cor-primaria);
      color: #fff;
      border: none;
      font-size: 15px;
      padding: 15px 60px;
      font-weight: 600;
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
    }
    
    .btn-section-primary:hover {
      background-color: var(--cor-secundaria);
      color: #fff !important;
    }

    .tex-down-btn {
      color: var(--texto-secundario);
      font-weight: 600 !important;
      font-size: 15px !important;
      margin: 6px auto 0 auto !important;
    }

  .img-mokup-primary {
    max-width: 100%;
    margin-top: 30px;
  }

  .logo-oficial {
    width: 80% !important;
    margin: 0 auto;
  }
}

/* 🟣 Tablets (769px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .sctn-prm-spfy {
    background-color: #f6f6f7;
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
  }
  
  
  .img-oft-spfy {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 750px;
    height: 100%;
  }

  .pd-container-ps {
    padding: 0 7rem;
  }
  .card-body-pers {
    height: 900px;
  }
  .area-pay {
    display: flex;
    position: absolute;
    bottom: 25px;
    flex-direction: column;
    width: 100%;
  }
  .area-pay {
    width: 85%;
}
  .pd-ps-card {
    padding: 1rem 0.8rem!important;
}

  #mkp-desktop-scrool {
    display: none;
  }
  
  .scroll-animation-wrapper-desk {
    display: none;
  }

.shadow-bg {
    box-shadow: 1px 0 12px 4px #d0c2ef40;
}

.nav-prsn {
    gap: 20px;
    font-weight: 600;
}

.nav-prsn-item {
    color: #ffffff;
}

.nav-prsn-item:hover {
    color: #ffbc00;
} 
.logo-pstion {
    width: 100%;
    max-width: 320px;
}

.logo-oficial {
    width: 60% !important;
}

.wdt-prs-01 {
    width: 100% !important;
    display: flex;
    flex-direction: column;
}

#mkp-desktop {
    display: none;
  }

  #mkp-mobile {
      display: block;
  }

.stcn-prs-one {
  flex-wrap: wrap !important;
  padding: 1rem 1.2rem;
}

.wdt-prs-01,
.wdt-prs-02 {
  width: 100% !important;
}

.tt-sctn-one {
  font-size: 2.7rem !important;
}

.tt-sctn-one span {
  font-size: 2.1rem !important;
  color: #513396;
}

.lead {
    font-size: 16px !important;
    color: var(--texto-cinza);
    width: 100%;
    max-width: 600px;
    text-align: left;
}

.btn-section-primary {
    background-color: var(--cor-primaria);
    color: #fff;
    border: none;
    font-size: 15px;
    padding: 15px 60px;
    font-weight: 600;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
  
  .btn-section-primary:hover {
    background-color: var(--cor-secundaria);
    color: #fff !important;
  }

  .tex-down-btn {
    color: var(--texto-secundario);
    font-weight: 600 !important;
    font-size: 15px !important;
    margin: 6px auto 0 auto !important;
  }

.img-mokup-primary {
  max-width: 100%;
  margin-top: 30px;
}

.logo-oficial {
  width: 80% !important;
  margin: 0 auto;
}
}

/* 🔴 Desktops médios (1025px a 1366px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .sctn-prm-spfy {
    background-color: #f6f6f7;
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
  }
  
  
  .img-oft-spfy {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 750px;
    height: 100%;
  }

  .pd-container-ps {
    padding: 0 15rem;
  }
  .card-body-pers {
    height: 900px;
  }
  .span-tt-dwn {
    color: #513396;
    font-size: 35px;
  }

  #mkp-desktop-scrool {
    z-index: 9;
    position: absolute;
    max-width: 502px;
    width: 100%;
    right: 3.89%;
    top: 3.35%;
    }
    
    .scroll-animation-wrapper-desk {
    position: absolute;
    width: 100%;
    height: 362px;
    overflow: hidden;
    right: 19.23%;
    max-width: 560px;
    top: 15.42%;
    }
  .scroll-animation {
    animation: scrollLoopDesktop 18s ease-in-out infinite;
  }
  .shadow-bg {
      box-shadow: 1px 0 12px 4px #d0c2ef40;
  }



  .nav-prsn {
      gap: 20px;
      font-weight: 600;
  }

  .nav-prsn-item {
      color: #ffffff;
  }

  .nav-prsn-item:hover {
      color: #ffbc00;
  } 

.logo-oficial {
  width: 65% !important;
}

.tt-sctn-one {
  font-size: 3.2rem !important;
}

.tt-sctn-one span {
  font-size: 2.2rem !important;
  color: var(--cor-primaria);
}

.lead {
  font-size: 17px !important;
  color: var(--texto-cinza);
  width: 100%;
  max-width: 400px;
}

.btn-section-primary {
  background-color: var(--cor-primaria);
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 15px 60px;
  font-weight: 600;
}

.btn-section-primary:hover {
  background-color: var(--cor-secundaria);
  color: #fff !important;
}

.tex-down-btn {
  color: var(--texto-secundario);
  font-weight: 600 !important;
  font-size: 13px !important;
  margin: 6px 0 0 0 !important;
}

.img-mokup-primary {
  max-width: 800px;
  width: 100%;
  position: relative;
  z-index: 9;
}

.stcn-prs-one {
  flex-wrap: nowrap !important;
  justify-content: center;
}

.wdt-prs-01 {
  width: 35% !important;
}

.wdt-prs-02 {
  width: 60%;
}

#mkp-mobile {
  display: none;
}

/* ===== Footer ===== */
footer {
  background-color: var(--cor-primaria);
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
}

  .tt-sctn-one {
    font-size: 3rem !important;
  }

  .tt-sctn-one span {
    font-size: 2rem !important;
  }

  .btn-section-primary {
    padding: 14px 50px;
  }

  .lead {
    font-size: 17px !important;
  }
}

/* 🟢 Telas grandes (acima de 1366px) */
@media (min-width: 1201px) {
  .sctn-prm-spfy {
    background-color: #f6f6f7;
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
  }
  
  
  .img-oft-spfy {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 750px;
    height: 100%;
  }

  .pd-container-ps {
    padding: 0 15rem;
  }
  .card-body-pers {
    height: 900px;
  }
  .span-tt-dwn {
    color: #513396;
    font-size: 35px;
  }

  .scroll-animation-wrapper-mbl  {
    display: none;
  }

  #mkp-mobile-scrool {
    display: none;
  }

  #mkp-desktop-scrool {
    z-index: 9;
    position: absolute;
    max-width: 502px;
    width: 100%;
    right: 3.89%;
    top: 3.35%;
    }
    
    .scroll-animation-wrapper-desk {
    position: absolute;
    width: 100%;
    height: 362px;
    overflow: hidden;
    right: 19.23%;
    max-width: 560px;
    top: 15.42%;
    }

  .scroll-animation {
    animation: scrollLoopDesktop 18s ease-in-out infinite;
  }

  .shadow-bg {
      box-shadow: 1px 0 12px 4px #d0c2ef40;
  }


  .nav-prsn {
      gap: 20px;
      font-weight: 600;
  }

  .nav-prsn-item {
      color: #ffffff;
  }

  .nav-prsn-item:hover {
      color: #ffbc00;
  } 

.logo-oficial {
  width: 65% !important;
}

.tt-sctn-one {
  font-size: 3.2rem !important;
}

.tt-sctn-one span {
  font-size: 2.2rem !important;
  color: var(--cor-primaria);
}

.lead {
  font-size: 17px !important;
  color: var(--texto-cinza);
  width: 100%;
  max-width: 400px;
}

.btn-section-primary {
  background-color: var(--cor-primaria);
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 15px 60px;
  font-weight: 600;
}

.btn-section-primary:hover {
  background-color: var(--cor-secundaria);
  color: #fff !important;
}

.tex-down-btn {
  color: var(--texto-secundario);
  font-weight: 600 !important;
  font-size: 13px !important;
  margin: 6px 0 0 0 !important;
}

.img-mokup-primary {
  max-width: 800px;
  width: 100%;
  position: relative;
  z-index: 9;
}

.stcn-prs-one {
  flex-wrap: nowrap !important;
  justify-content: center;
}

.wdt-prs-01 {
  width: 35% !important;
}

.wdt-prs-02 {
  width: 60%;
}

#mkp-mobile {
  display: none;
}

/* ===== Footer ===== */
footer {
  background-color: var(--cor-primaria);
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
}

  .tt-sctn-one {
    font-size: 3.5rem !important;
  }

  .tt-sctn-one span {
    font-size: 2.5rem !important;
  }

  .btn-section-primary {
    padding: 16px 70px;
  }
}

.instagram svg {
  fill: #000000;
}


.instagram svg:hover {
  fill: #ffce33;
}

